@media only screen and (min-width: 600px) {
    .cookBG { 
        background-image: url('../assets/carrots-food.jpg'); 
        background-repeat: no-repeat;
        background-size: cover;
        height: 92vh;
    }
    .fontwebmobile{
        font-size: 30px
    }

    .opacitywebmobile{
        opacity: .5
    }

    .contentmiddle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display:flex;
        height:92vh;
    }
}
@media only screen and (max-width: 500px) {
    .cookBG {
        background-image: url('https://images.unsplash.com/photo-1514516870926-20598973e480?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=411&h=731&fit=crop&ixid=eyJhcHBfaWQiOjF9');
        background-repeat: repeat;
        height: 92vh;
        
    }
    .fontwebmobile{
        font-size: 20px
    }
    .opacitywebmobile{
        opacity: .7
    }
    .contentmiddle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display:flex;
        height:93vh;
    }
}

.ingredient-scroll{
    overflow: scroll;
    max-height: 150px;
}


