@media only screen and (min-width: 600px) {
    .containerPadding{
        padding-top: 10vh;
    }
    .textSize{
        font-size: 1.3vw;
    }

    .welcomeText{
        font-size: 2.3vw;
        font-family: Futura;
        font-weight:300;
        position: absolute;
        top: 109px;
        left: 4px;
        color:red;
    }

    .loading{
        height:calc(100vh - 70px)
    }

    
}

@media only screen and (max-width: 500px) {
    .containerPadding{
        padding-top: 10vh;
    }
    .textSize{
        font-size: 6.3vw;
    }
    .welcomeText{
        font-size: 5.3vw;
        font-family: Futura;
        font-weight:300;
        position: absolute;
        top: 141px;
        left: 22px;
        color:red;
        font-size:32px;
    }

    .loading{
        height:calc(100vh - 70px)
    }
}

.divElement{
    /* position: absolute;
    top: 28%; */
    /* left: 25%; */
    /* margin-top: -50px; */
    /* margin-left: -50px; */
    width: 100vw;
    height: 90vh;

}

.no-shadows {
    box-shadow: none!important;
}