/* For width 400px and larger: */
@media only screen and (min-width: 600px) {
    
}
@media only screen and (max-width: 500px) {
    
}

@media only screen and (min-width: 600px) {
    .containerPadding{
        padding-top: 10vh;
    }
}

@media only screen and (max-width: 500px) {
    .containerPadding{
        padding-top: 10vh;
    }
}

.divElement{
    position: absolute;
    top: 28%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    

}