.leftBind{
  padding: 0px !important;
  background: url('../../assets/LeftBind.jpg') no-repeat;
  height: -moz-available;          
  height: -webkit-fill-available;  
  height: fill-available;
  background-size: cover;
}
.rightBind{
  padding: 0px !important;
  background: url('../../assets/RightBind.jpg') no-repeat;
  height: -moz-available;          
  height: -webkit-fill-available;  
  height: fill-available;
  background-size: cover;
}
.spine{
  padding: 0px !important;
  background: url('../../assets/Spine.jpg') no-repeat;
  height: -moz-available;          
  height: -webkit-fill-available;  
  height: fill-available;
  background-size: cover;
}
.counterTop{
  height: 100vh;
  background: url('../../assets/Background.jpeg') no-repeat;
  background-size: cover;
}
.createIngredients{
  border: 1px solid gray
}
.list{
 max-height: 150px;
 overflow: scroll;
 overflow-x: hidden;
} 
/* .list::-webkit-scrollbar { width: 0 !important }
.list { overflow: -moz-scrollbars-none; }
.list { -ms-overflow-style: none; } */